@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

:root {
  --main-accent-color: #03bad5;
  --section-title-color-dark: #37474f;
  --body-color: #495057;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.6rem;
  line-height: 4rem;
  font-weight: 800;
}

.btn-white {
  border: 2px solid #ffff;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  color: #ffff;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  /* padding-right: 2rem; */
}

.btn-white:hover {
  background-color: #ffff;
  color: var(--main-accent-color);
  border: 2px solid var(--main-accent-color);
}

/* Section Title*/
.section-title {
  position: relative;
  margin-bottom: 5rem;
}

h2.section-title-heading {
  color: var(--section-title-color-dark);
  padding-top: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}

.section-title::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid var(--main-accent-color);
  width: 8%;
  top: 80px;
}

.section-title:hover::after {
  width: 12%;
  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
}

/* ================= NAVIGATION ================= */
.navbar {
  padding-top: 1.2rem;
}

.logo {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 15%;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0 12px 0 12px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #27778b;
}

/* ================= HERO ================= */
/* .hero-img {
  transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
} */

#hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 172, 217, 0.62),
      rgba(105, 240, 174, 0.52)
    ),
    url('../img/bkg-hero.jpg');
  background-size: cover;
  background-repeat: no repeat;
  padding: 8rem 0 5rem 0;
  position: relative;
}

#hero::after {
  content: '';
  position: absolute;
  background-color: #ffff;
  width: 100%;
  height: 15%;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform-origin: bottom right;
  bottom: 0;
  right: 0;
  left: 0;
}

.main-hero-content h1 {
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 0.11rem;
}

.main-hero-content p {
  color: #ffff;
  margin-top: 2rem;
  margin-bottom: 3rem;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

.image-box img {
  width: 80%;
  position: absolute;
  top: 1rem;
  left: 11rem;
  z-index: 1;
  overflow: hidden;
}

/* ================= ABOUT ================= */
#about i {
  color: var(--main-accent-color);
}

#about h3 {
  color: var(--section-title-color-dark);
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#about p {
  color: var(--body-color);
  font-size: 1rem;
  line-height: 1.7rem;
}

#about::after {
  content: '';
  position: absolute;
  background-color: #fafafa;
  width: 100%;
  height: 15%;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform-origin: bottom right;
  bottom: -50;
  right: 0;
  left: 0;
}

/* ================= FEATURES ================= */
#features {
  background-color: #fafafa;
  padding-bottom: 3rem;
  margin-top: 4rem;
}

/* in case of use image */
#features img {
  display: block;
  margin: 0 auto;
}
/* in case of setting text-align in css (not Bootstrap) */
#features .feature-block {
  text-align: center;
}

#features .feature-block i {
  color: var(--main-accent-color);
}

#features .feature-block h3 {
  color: var(--section-title-color-dark);
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#features .feature-img img {
  padding-bottom: 1rem;
}

#features .feature-block p {
  color: var(--body-color);
  font-size: 1rem;
  line-height: 1.7rem;
}

/* ================= DOWNLOAD ================= */
#download {
  background-image: linear-gradient(
      to right,
      rgba(0, 172, 217, 0.62),
      rgba(105, 240, 174, 0.52)
    ),
    url('../img/bkg-download.jpg');

  background-size: fill;
  background-repeat: no repeat;
  padding: 8rem 0;
  position: relative;
}

#download::before {
  content: '';
  position: absolute;
  background-color: #fafafa;
  width: 100%;
  height: 20%;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform-origin: top right;
  top: -4rem;
  right: 0;
  left: 0;
}

#download .download-title h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  color: #ffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#download .download-title p {
  color: #ffff;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: center;
  padding-bottom: 2rem;
}

#download .download-btns i {
  padding-right: 0.2rem;
}

/* ================= PRICING ================= */
#pricing {
  padding: 2rem 0 10rem 0;
  position: relative;
}

#pricing::before {
  content: '';
  position: absolute;
  background-color: #ffff;
  width: 100%;
  height: 20%;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform-origin: top right;
  top: -4rem;
  right: 0;
  left: 0;
}

#pricing .section-title {
  /* margin-bottom: 5rem; */
}

#pricing .pricing-table {
  background-color: #ffff;
  box-shadow: -1px 0px 12px 4px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: -1px 0px 12px 4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: -1px 0px 12px 4px rgba(0, 0, 0, 0.24);
  -o-box-shadow: -1px 0px 12px 4px rgba(0, 0, 0, 0.24);
  margin-right: 1rem;
  width: calc(90% / 3);
  padding: 0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

#pricing .pricing-table .table-header h4 {
  color: var(--section-title-color-dark);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

#pricing .pricing-table .table-content {
  margin-top: 2rem;
}

#pricing .pricing-table .table-content ul li {
  list-style: none;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: 600;
}

#pricing .pricing-table .table-footer {
  margin-top: 2rem;
  padding-bottom: 3rem;
}

#pricing .pricing-table .table-footer a {
  background: linear-gradient(
    to right,
    rgba(0, 172, 217, 0.62),
    rgba(105, 240, 174, 0.52)
  );
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  color: #ffff;
  font-weight: 600;
}

#pricing .pricing-table .table-footer a:hover {
  text-decoration: none;
  background: #ffff;
  color: var(--main-accent-color);
  border: 2px solid var(--main-accent-color);
  transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
}

#pricing .table-header {
  margin: 0;
  width: 100%;
}

#pricing .pricing-table .table-header {
  padding: 3rem 0 2rem 0;
}

#pricing .pricing-table:nth-child(2) .table-header {
  background: linear-gradient(
    to right,
    rgba(0, 172, 217, 0.62),
    rgba(105, 240, 174, 0.52)
  );
  padding: 3rem 0 2rem 0;
  color: #ffff;
  position: relative;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

#pricing .pricing-table:nth-child(2) .table-header img {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 15%;
}

#pricing .pricing-table:nth-child(2) .table-header h4 {
  color: #ffff;
}

/* ================= PRICING ================= */
#contact {
  background-color: #fafafa;
  padding: 2rem 0 7rem 0;
  position: relative;
}

#contact::before {
  content: '';
  position: absolute;
  background-color: #fafafa;
  width: 100%;
  height: 20%;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform-origin: top right;
  top: -4rem;
  right: 0;
  left: 0;
}

.btn-contact {
  background: linear-gradient(
    to right,
    rgba(0, 172, 217, 0.62),
    rgba(105, 240, 174, 0.52)
  );
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: none;
  color: #ffff;
  font-weight: 600;
}

.btn-contact:hover {
  color: var(--main-accent-color);
  background: #ffff;
  border: 2px solid var(--main-accent-color);
}

#contact .contact-address h3 {
  color: var(--section-title-color-dark);
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize;
}

#contact .contact-address p {
  color: var(--body-color);
  font-size: 1rem;
  line-height: 1.7rem;
}

#contact .contact-address .contact-details ul li {
  color: var(--body-color);
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
}

#contact .contact-address .contact-details i {
  color: var(--main-accent-color);
}
